<section id="blog-entry-container">
    <h2 class="blog-entry-title">{{entries.title}}</h2>

    <p id="entry-author">Created by {{entries.user.username}} on <span id="entry-date">{{format_date entries.date_created}}</span><span> &#8226; Entry ID: <span id="entry-id">{{entries.id}}</span></span>

    <p id="entry-body">{{entries.body}}</p>
</section>

<section id="comments-container">
<h3 class="comments-header">comments:</h3>

{{#each commentAry.[0] }}
    <div class="comment-container">
        <p class="comment-body">{{body}}</p>

        <div class="commen-author-date-container">
        <span>{{user.username}}</span><span class="on-preposition"> on </span></span><span class="date-posted">{{format_date date_created}}</span>
        </div>
    </div>
{{/each}}

{{#if logged_in}}
<div class="comment-entry-container">
    <h3>leave a comment:</h3>

    <form class="form new-comment-form">
    <textarea class="comment-input" id="new-comment-input" name="post-content" maxlength="255" rows="5"></textarea>
    <button class="comment-submit-button" type="submit">Submit</button>
    </form>
  </div>
{{else}}
<div id="login-linkto-component">
  <p><a href="/login" class="inline-link">Log in</a> to leave comments.</p>
</div>
{{/if}}

</section>

{{#if logged_in}}
<script src="/js/post-comment.js"></script>
{{/if}}